---
import Layout from '../layouts/Layout.astro';

let params = Astro.url.searchParams;
var nombre = params.get('nombreAutor')
//var contract = params;
console.log(params)
console.log(nombre)

import { db, eq ,like ,producto, } from 'astro:db';

const productito = await db.select().from(producto).where(like(producto.autor,nombre))

---

<Layout title="Welcome to Astro.">
    <div class="col-12">

        
        <div class="container-fluid">
          <div class="col-12 ">
            <div class="col-12 d-flex flex-column align-items-center">
              <div>
                <img  alt="">
              </div>
              <div>
                  <h3>{nombre}</h3>
				          <a href={"https://www.twitch.tv/"+ nombre} class="btn">Ver canal</a>
              </div>
            </div>
            
          </div>
        </div>
        

        <div class=" py-4 d-flex justify-content-center">
          <div class="w-75">
            <h4 class="ms-2">Sus productos</h4>
            <hr/>
          </div>	
        </div>

        <div class="container-fluid d-flex justify-content-center">

          <div class="col-10 d-flex flex-wrap justify-content-center">
            <!-- <div class="col-3 px-3">--><!-- </div>              -->	
            {
              productito.map(({ nombreProducto, descripcion,precio,img,tipo,autor,estado }) => (
              <div class="d-flex px-2 py-3">
                <div class="card col-12" style="width: 18rem;">
                  <img srcset={img} class="card-img-top" alt="...">
                  <div class="card-header"><a href={"https://www.twitch.tv/"+autor} class="author">{autor}</a></div>
                  <div class="card-body">
                  <h5 class="card-title">{nombreProducto}</h5>
                  <p class="card-text">{descripcion}</p>
                  <h4>{precio + "€"}</h4>
                  </div>
                </div>
              </div>
              
              ))
            }
            
          </div>
      
          
      
        </div>

    </div>

    
</Layout>

