---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sesion from '../components/Sesion.astro';


import { db, producto,like } from 'astro:db';

const productito = await db.select().from(producto).where(
	like(producto.tipo,'raton')
)

productito.map(({nombreProducto}) => (
	console.log(nombreProducto)
))

---

<Layout title="Welcome to Astro.">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/">Gamermart</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			  </li>
			</ul>
			
		  </div>
		  <Sesion></Sesion>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link" aria-current="page" href="#">Periferico</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Ordenadores</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Componentes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Auriculares</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Monitores</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/raton/">Raton</a>
			  </li>
			</ul>
			
		  </div>
		</div>
	</nav>

	<div class="container-fluid d-flex justify-content-center">

		<div class="col-10 d-flex flex-wrap justify-content-center">
			<!-- <div class="col-3 px-3">--><!-- </div>              -->	
			{
				productito.map(({ nombreProducto, descripcion,precio,img,tipo,autor,estado }) => (
				<div class="d-flex px-2 py-3">
					<div class="card col-12" style="width: 18rem;">
						<img srcset={img} class="card-img-top" alt="...">
						<div class="card-header"><a href={"https://www.twitch.tv/"+autor} class="author">{autor}</a></div>
						<div class="card-body">
						<h5 class="card-title">{nombreProducto}</h5>
						<p class="card-text">{descripcion}</p>
						<h4>{precio + "€"}</h4>
						</div>
					</div>
				</div>
				
				))
			}
			
		</div>

		

	</div>
	<script>
		


	</script>
	
	
</Layout>

