---
import Layout from "../layouts/Layout.astro";
import Sesion from "../components/Sesion.astro";
import { getSession } from 'auth-astro/server';
import type { APIRoute } from "astro";
import { db, producto,like ,eq,and} from 'astro:db';

const session = await getSession(Astro.request);
/*
const DELETE: APIRoute = async (ctx) => {
      await db.delete(producto).where(eq(producto.nombreProducto, ctx.params.nombreproducto ));
      return new Response(null, { status: 204 });
}*/

if(Astro.request.method === 'POST'){
  const formData = await Astro.request.formData();
  const borrarProducto= formData.get('borrarProducto')
  const descripcionProducto= formData.get('descripcionBorrar')
  await db.delete(producto).where(and(like(producto.nombreProducto, borrarProducto ), like(producto.descripcion,descripcionProducto)));
}



const productito = await db.select().from(producto).where(
	like(producto.autor,session?.user?.name)
)


---

<Layout title="Welcome to Astro.">
    <div class="col-12">

        
        <div class="container-fluid">
          <div class="col-12 ">
            <div class="col-12 d-flex flex-column align-items-center mt-4">
              <div>
                <img srcset={session?.user?.image} class="img-fluid  rounded-circle">
              </div>
              <div>
                  <h3 class="mt-3">{session?.user?.name}</h3>
              </div>
              <div class="mt-3">
                <a href="/subirProducto/"><button type="button" class="btn btn-primary">Publicar producto</button></a>	
              </div>
            </div>
            
          </div>
        </div>
        

        <div class=" py-4 d-flex justify-content-center">
          <div class="w-75">
            <h4 class="ms-2">Mis productos</h4>
            <hr/>
          </div>	
        </div>

        <div class="container-fluid d-flex justify-content-center">

          <div class="col-10 d-flex flex-wrap justify-content-center">
            <!-- <div class="col-3 px-3">--><!-- </div>              -->	
            {
              productito.map(({nombreProducto, descripcion,precio,img,tipo,autor,estado, }) => (
              <div class="d-flex px-2 py-3">
                
                  <div class="card col-12" style="width: 18rem;">
                    <img srcset={img} class="card-img-top" alt="...">
                    <div class="card-header"><a href={"https://www.twitch.tv/"+autor} class="author">{autor}</a></div>
                    <div class="card-body">
                    <h5 class="card-title">{nombreProducto}</h5>
                    <p class="card-text">{descripcion}</p>
                    <h4>{precio + "€"}</h4>
                    <div class="d-flex justify-content">
                      <a href={"/EditarProducto?producto="+nombreProducto}><button type="button" class="btn btn-primary me-2">Actualizar</button></a>
                      
                      <form action="/perfil" method="post" onsubmit="enviarBorrado(event)">
                        <input type="hidden" value={nombreProducto} name="borrarProducto">
                          <input type="hidden" value={descripcion} name="descripcionBorrar"><input type="submit" class="btn btn-danger" value="borrar">

                      </form>
                    </div>
                    </div>
                  </div>
                </a>
              </div>


              
              ))
            }
            
          </div>
      
          
      
        </div>

    </div>

    

    
</Layout>